.carousel-caption h5,
.carousel-caption p {
  color: black; /* Change text color to black */
  background-color: rgba(255, 255, 255, 0.7); /* Add a semi-transparent white background */
  padding: 10px; /* Add some padding for better readability */
  border-radius: 5px; /* Add border-radius for rounded corners */
}
.btn-primary {
  background-color: #007bff; /* Blue */
  border-color: #007bff;
  color: #fff; /* White */
}

h1, p {
  color: #333; /* Black */
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}

body {
  font-family: 'Arial Black', Arial, Helvetica, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,  #6B6361, #876E58, #C46F43, #ED872D,#E7622F,#D93934);
}


/* Gradient animation */

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} 